*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 42px;
    padding: 30px;
}

/*Select Gametype*/
#container-gametype{
    text-align: center;
}

#gametype{
    margin-top: 5px;
}

button{
    margin: 5px 15px;
    padding: 5px 10px;
}

/*Game*/
#game{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    margin: 30px auto;
    position: relative;
}

#msg{
    position: absolute;
    background-color: blue;
    top: 50%;
    left: -30px;
    right: -30px;
    transform: translateY(-50%);
    padding: 15px 0;
    text-align: center;
}

.box{
    height: 100px;
    border: 5px solid black;
    flex: 1 1 100px;
}

#box-1, #box-2, #box-3{
    border-top: none;
}


#box-3, #box-6, #box-9{
    border-right: none;
}

#box-7, #box-8, #box-9{
    border-bottom: none;
}

#box-1, #box-4, #box-7{
    border-left: none;
}

/*Scoreboard*/
#scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#players-scores{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

#separator{
    margin: 0 15px;
}