@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --cor1: #FEDFC2;
    --cor2: #3A76FB;
    --cor3: #FF7801;
    --cor4: #FF3880;
    --cor5: #F4F4F4;
    --cor6: #1C1F26;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, var(--cor3), var(--cor4));
    position: relative;
    z-index: -100;
}

body::before{
    content: '';
    position: absolute;
    inset: 0;
    background: url(img/textura-bg.png);
    mix-blend-mode: soft-light;
    opacity: .2;
    z-index: -50;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    padding: 15px;
    margin-bottom: 10px;
    color: var(--cor5);
    text-shadow: 0px 3px var(--cor2), 0px 6px var(--cor6);
}

button{
    font-size: 14px;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

/*Select Gametype*/
#container-gametype{
    width: 270px;
    text-align: center;
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px 0;
}

/*Game*/
#game{
    width: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#msg{
    position: absolute;
    background-color: blue;
    top: 50%;
    left: -30px;
    right: -30px;
    transform: translateY(-50%);
    padding: 15px 0;
    text-align: center;
    display: none;
}

.box{
    height: 90px;
    border: 5px solid var(--cor2);
    flex: 1 1 90px;
    background-color: var(--cor1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box-1, #box-2, #box-3{
    border-top: none;
}


#box-3, #box-6, #box-9{
    border-right: none;
}

#box-7, #box-8, #box-9{
    border-bottom: none;
}

#box-1, #box-4, #box-7{
    border-left: none;
}

/*Scoreboard*/
#scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px 15px;
}

#players-scores{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    background-color: var(--cor5);
    border-radius: 5px;
}

#players-scores div{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#players-scores img{
    display: block;
    height: 75%;
    margin-right: 5px;
}

#players-scores span{
    font-size: 30px;
}

#separator{
    font-family: 'Permanent Marker', cursive;
    background-color: var(--cor2);
    color: var(--cor5);
    font-size: 25px;
    padding: 10px;
}